/*especificidad -> 1*/
body{
    font: 400 1em Tahoma, sans-serif;
    color: black;
}

/*Especificidad -> 1*/
h1{
    text-transform: uppercase;
    text-align: left;
    margin: auto;
    color: black;
}